Source: ros-humble-mapoi-server
Section: misc
Priority: optional
Maintainer: "Shunsuke Kimura" <kimura.shunsuke@shimz.co.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-cmake-pytest <!nocheck>, ros-humble-ament-index-cpp, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-gazebo-msgs, ros-humble-geometry-msgs, ros-humble-launch-testing <!nocheck>, ros-humble-launch-testing-ament-cmake <!nocheck>, ros-humble-launch-testing-ros <!nocheck>, ros-humble-mapoi-interfaces, ros-humble-nav2-msgs, ros-humble-rclcpp, ros-humble-rclcpp-action, ros-humble-std-msgs, ros-humble-std-srvs, ros-humble-tf2, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros, ros-humble-visualization-msgs, ros-humble-yaml-cpp-vendor, ros-humble-ros-workspace
Homepage: https://index.ros.org/p/mapoi_server/#humble
Standards-Version: 3.9.2

Package: ros-humble-mapoi-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-ament-cmake-auto, ros-humble-ament-index-cpp, ros-humble-gazebo-msgs, ros-humble-geometry-msgs, ros-humble-mapoi-interfaces, ros-humble-nav2-msgs, ros-humble-rclcpp, ros-humble-rclcpp-action, ros-humble-std-msgs, ros-humble-std-srvs, ros-humble-tf2, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros, ros-humble-visualization-msgs, ros-humble-yaml-cpp-vendor, ros-humble-ros-workspace
Description: map and poi server
