Source: ros-humble-mapoi
Section: misc
Priority: optional
Maintainer: "Shunsuke Kimura" <kimura.shunsuke@shimz.co.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ros-workspace
Homepage: https://index.ros.org/p/mapoi/#humble
Standards-Version: 3.9.2

Package: ros-humble-mapoi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-mapoi-interfaces, ros-humble-mapoi-rviz-plugins, ros-humble-mapoi-server, ros-humble-mapoi-webui, ros-humble-ros-workspace
Description: Metapackage for mapoi: map and POI management for Navigation2
